# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.db
*.sqlite3

# Environments
.env
.venv
venv/
ENV/

# Logs and databases
*.log
*.sql

# OS metadata
.DS_Store
Thumbs.db

# Project uploads
cybersquad/uploads/
uploads/
cybersquad/ml/saved_models/*.joblib
